# Python
__pycache__/
app/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment files
.env
.env.*
AzureENVs

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db